:root {
    --body-font: 'Noto Sans KR', sans-serif;
    --logo-font: 'Alfa Slab One', cursive;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;
}
main {
    font-family: var(--body-font);
}
.content-container {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 200px;
    margin-top: 60px;
}
.circle-img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: bisque;
}
.text1 {
    margin-top: 10px;
    font-size: 30px;
}
.text2 {
    font-size: 15px;
    font-weight: var(--font-light);
}
.more-button > button{
    margin-top: 10px;
    border: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
.trend-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 90px;
}
.trend-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}
.trend-img {
    width: 200px;
    height: 250px;
    background-color: bisque;
}
.trend-text {
    width: 200px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 100px;
}